

.BoxDuyet {
}

div.imgBenhNhan {
    width: 100px;
}

div.imgBenhNhan > img {
    width: 100%;
}


.BoxChuaDuyet {
    background: lightgreen;
}


.item {
    margin: 20px;
    background: lightblue;
    width: 100%;
}

div.infoBenhNhan {
    display:flex;
}


.BoxDaDuyet {
    background: #fff;
    border: 3px double black
}

.BoxDaDuyet i {
    padding: 20px;
}

.BoxDaDuyetHeader {
    background: lightblue ;
}

.BoxDaDuyetHeader p{
    display: inline;
}

.listKhamItem {
    background: lightgreen;
    margin: 5px;
}